body{
    font-family: aventra, sans-serif;
}

section {
    padding: 2rem 1rem;
}

.services{
    display: grid;
    gap: 1rem;
}

.card{
    background: #fff;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 8px;
    border: 1px solid #e0e0e0;
}

@media (min-width: 768px) {
    .services {
        grid-template-columns: repeat(3, 1fr);
    }
}